<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Offical Manchester United</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <!-- <div class="loader-wrapper">
                    <span class="loader">
                        <span class="loader-inner"></span>
                    </span>
                </div> -->
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item menu-item--active">
                                        <a href="/" class="menu-link menu-link--active">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/players" class="menu-link" id="player-stat-link">
                                            <span class="material-icons">poll</span>
                                            <p>Players</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/lineup" class="menu-link">
                                            <span class="material-icons">event</span>
                                            <p>Line up</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/lectures" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/announcements" class="menu-link">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-7">
                        <div class="main-content">
                            <div class="content--header">
                                <div class="header--avatar">
                                    <img src="<%= member.avatar %> " onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="header--text">
                                    <div class="header--username">
                                        <span>Hi, </span>
                                        <p> <%= member.name %></p>
                                    </div>
                                    <div class="header--greeting">
                                        <span>Welcome back, nice to see you again!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content--next-match">
                                <div class="next-match--title">
                                    <span>Next Match</span>
                                </div>
                                <div class="next-match--tournament">
                                    <img src="<%= standings.logo %>" onerror="this.src='/images/logo_tournament.png'">
                                </div>
                                <div class="next-match--squad">
                                    <div class="squad squad-home">
                                        <div class="squad-logo">
                                            <img src="<%= nextMatch.team_home.logo %>" onerror="this.src='/images/logo.png'">
                                        </div>
                                        <div class="squad-name">
                                            <span><%= nextMatch.team_home.name %></span>
                                        </div>
                                    </div>
                                    <span class="next-match--vs">VS</span>
                                    <div class="squad squad-away">
                                        <div class="squad-logo">
                                            <img src="<%= nextMatch.team_away.logo %>" onerror="this.src='/images/logo_away.png'">
                                        </div>
                                        <div class="squad-name">
                                            <span><%= nextMatch.team_away.name %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-match--date">
                                    <div class="next-match--time">
                                        <span>KO <%= nextMatch.date.hour %>:<%= nextMatch.date.minute %> GMT</span>
                                    </div>
                                    <div class="next-match--day">
                                        <span><%= nextMatch.date.month %> <%= nextMatch.date.day %>, <%= nextMatch.date.year %></span>
                                    </div>
                                </div>
                                <div class="next-match--stadium">
                                    <span class="material-icons">stadium</span>
                                    <div class="stadium-name">
                                        <span><%= nextMatch.stadium %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard__footer">
                                <div class="content__top-score">
                                    <div class="top-score__header">
                                        <div class="top-score__title">
                                            <span>EPL Top Score</span>
                                        </div>
                                    </div>
                                    <div class="top-score__list">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Team</th>
                                                    <th>Games</th>
                                                    <th>Goals</th>
                                                </tr>
                                            </thead>
                                            <tbody id="top-score-data">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="content__home-ancm">
                                    <div class="top-score__header">
                                        <div class="top-score__title">
                                            <span>Announcements</span>
                                        </div>
                                    </div>
                                    <div class="home-ancm__list">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="sub-content">
                            <div class="sub-content--standings">
                                <div class="stadings--header">
                                    <span>Standings</span>
                                </div>
                                <div class="standings--content">
                                    <table class="standings--table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>GD</th>
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% standings.standings[0].forEach( team => { %> 
                                                <tr>
                                                    <td>
                                                        <div class="standings--rank">
                                                            <span><%= team.rank %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--team">
                                                            <img src="<%= team.team.logo %>" onerror="this.src='/images/default.png'">
                                                            <span><%= team.team.name %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--played">
                                                            <span><%= team.all.played %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--gd">
                                                            <span><%= team.goalsDiff %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--point">
                                                            <span><%= team.points %></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }); %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(() => {
            let getCookie = (name) => {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            };

            let parseJwt = (token) => {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            };

            let payLoad = parseJwt(getCookie('auth-token'));

            $.ajax({
                url: 'https://v3.football.api-sports.io/players/topscorers?season=2021&league=39',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'x-rapidapi-host': 'v3.football.api-sports.io',
                    'x-rapidapi-key': '39ca433ef98ac8cb40a89b37f1111714'
                },
                success: (response) => {
                    let html = '';
                    let playerList = response.response;

                    // console.log(playerList);

                    for(let i = 0; i < 7; i++) { 
                        html += `
                            <tr>
                                <td style="width: 5%;">
                                    <div class="top-score__index">
                                        <span>${i+1}</span>
                                    </div>
                                </td>
                                <td style="width: 50%;">
                                    <div class="top-score__name">
                                        <span>${playerList[i].player.name}</span>
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class="top-score__team">
                                        <img src="${playerList[i].statistics[0].team.logo}" onerror="this.src='/images/avatar_test.jpg'">
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class="top-score__games">
                                        <span>${playerList[i].statistics[0].games.appearences}</span>
                                    </div>
                                </td>
                                <td style="width: 15%;">
                                    <div class="top-score__goals">
                                        <span>${playerList[i].statistics[0].goals.total}</span>
                                    </div>
                                </td>
                            </tr>
                        `;
                    }

                    $('#top-score-data').html(html);
                }
            });

            $.ajax({
                url: 'http://localhost:3001/coach/' + payLoad.data.member_id + '/announcements',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                headers: {
                    'auth-token': getCookie('auth-token'),
                },
                success: (response) => {
                    let announcementList = response.data;

                    let html = '';

                    announcementList.forEach((announcement) => {
                        let date = new Date(announcement.date_created);
                        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        html += `
                            <div class="announcement-management__announcement-item">
                                <div class="announcement-item__image" style="width: 32px;">
                                    <img src="${announcement.coach.photo}" onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="announcement-item__body">
                                    <div class="announcement-item__header border-bottom" style="padding-bottom: 8px;">
                                        <div class="announcement-item__author">
                                            <span style="font-size: 18px;">${announcement.coach.name}</span>
                                        </div>
                                        <span>created a new post:</span>
                                    </div>
                                    <div class="announcement-item__title" style="padding-left: 0;">
                                            <span>${unescape(announcement.title)}</span>
                                        </div>
                                    <div class="announcement-item__content">
                                        <span>${unescape(announcement.message)}</span>
                                    </div>
                                    <div class="announcement-item__footer">
                                        <div class="announcement-item__date">
                                            <span>${date.toLocaleDateString("en-US", options)}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                    });

                    $('.home-ancm__list').html(html);
                }
            });
        });
    </script>
</body>
</html>