<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Offical Manchester United</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <!-- <div class="loader-wrapper">
                    <span class="loader">
                        <span class="loader-inner"></span>
                    </span>
                </div> -->
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item menu-item--active">
                                        <a href="/" class="menu-link menu-link--active">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/players" class="menu-link" id="player-stat-link">
                                            <span class="material-icons">poll</span>
                                            <p>Management</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">event</span>
                                            <p>Line up</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-7">
                        <div class="main-content">
                            <div class="content--header">
                                <div class="header--avatar">
                                    <img src="<%= member.avatar %> " onerror="this.src='/images/avatar_test.jpg'" alt="">
                                </div>
                                <div class="header--text">
                                    <div class="header--username">
                                        <span>Hi, </span>
                                        <p> <%= member.name %></p>
                                    </div>
                                    <div class="header--greeting">
                                        <span>Welcome back, nice to see you again!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content--next-match">
                                <div class="next-match--title">
                                    <span>Next Match</span>
                                </div>
                                <div class="next-match--tournament">
                                    <img src="<%= standings.logo %>" onerror="this.src='/images/logo_tournament.png'">
                                </div>
                                <div class="next-match--squad">
                                    <div class="squad squad-home">
                                        <div class="squad-logo">
                                            <img src="<%= nextMatch.team_home.logo %>" onerror="this.src='/images/logo.png'">
                                        </div>
                                        <div class="squad-name">
                                            <span><%= nextMatch.team_home.name %></span>
                                        </div>
                                    </div>
                                    <span class="next-match--vs">VS</span>
                                    <div class="squad squad-away">
                                        <div class="squad-logo">
                                            <img src="<%= nextMatch.team_away.logo %>" onerror="this.src='/images/logo_away.png'">
                                        </div>
                                        <div class="squad-name">
                                            <span><%= nextMatch.team_away.name %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="next-match--date">
                                    <div class="next-match--time">
                                        <span>KO <%= nextMatch.date.hour %>:<%= nextMatch.date.minute %> GMT</span>
                                    </div>
                                    <div class="next-match--day">
                                        <span><%= nextMatch.date.month %> <%= nextMatch.date.day %>, <%= nextMatch.date.year %></span>
                                    </div>
                                </div>
                                <div class="next-match--stadium">
                                    <span class="material-icons">stadium</span>
                                    <div class="stadium-name">
                                        <span><%= nextMatch.stadium %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content--lecture">
                                <div class="lecture--header">
                                    <div class="lecture--header-title">
                                        <span>Lectures</span>
                                    </div>
                                    <a href="" class="lecture--header-button">
                                        <span>See all</span>
                                        <span class="material-icons">navigate_next</span>
                                    </a>
                                </div>
                                <div class="lecture--list">
                                    <div class="lecture--item">
                                        <div class="lecture--item-header">
                                            <div class="item-header--img">
                                                <img src="" onerror="this.src='/images/lecture.jpg'" alt="">
                                            </div>
                                            <div class="item-header--title">
                                                <span>Communication</span>
                                                <div class="item-header--author">
                                                    <span class="material-icons">person_outline</span>
                                                    <span>Ms. Alice</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lecture--item-content">
                                            <div class="lecture-time">
                                                <span class="material-icons">query_builder</span>
                                                <span>20:00 - 22:00</span>
                                            </div>
                                            <div class="lecture-start-date">
                                                <span class="material-icons">flag</span>
                                                <span>Dec 1, 2021</span>
                                            </div>
                                            <div class="lecture-room">
                                                <span class="material-icons">school</span>
                                                <span>Room: kgirjs</span>
                                            </div>
                                        </div>
                                        <div class="lecture--detail-btn">
                                            <a href="">Lecture detail</a>
                                        </div>
                                    </div>
                                    <div class="lecture--item">
                                        <div class="lecture--item-header">
                                            <div class="item-header--img">
                                                <img src="" onerror="this.src='/images/lecture.jpg'" alt="">
                                            </div>
                                            <div class="item-header--title">
                                                <span>Advanced English</span>
                                                <div class="item-header--author">
                                                    <span class="material-icons">person_outline</span>
                                                    <span>Mr. John</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lecture--item-content">
                                            <div class="lecture-time">
                                                <span class="material-icons">query_builder</span>
                                                <span>20:00 - 22:00</span>
                                            </div>
                                            <div class="lecture-start-date">
                                                <span class="material-icons">flag</span>
                                                <span>Jan 1, 2022</span>
                                            </div>
                                            <div class="lecture-room">
                                                <span class="material-icons">school</span>
                                                <span>Room: ilp1ta</span>
                                            </div>
                                        </div>
                                        <div class="lecture--detail-btn">
                                            <a href="">Lecture detail</a>
                                        </div>
                                    </div>
                                    <div class="lecture--item">
                                        <div class="lecture--item-header">
                                            <div class="item-header--img">
                                                <img src="" onerror="this.src='/images/lecture.jpg'" alt="">
                                            </div>
                                            <div class="item-header--title">
                                                <span>Tactical</span>
                                                <div class="item-header--author">
                                                    <span class="material-icons">person_outline</span>
                                                    <span>Coach Ole</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lecture--item-content">
                                            <div class="lecture-time">
                                                <span class="material-icons">query_builder</span>
                                                <span>20:00 - 22:00</span>
                                            </div>
                                            <div class="lecture-start-date">
                                                <span class="material-icons">flag</span>
                                                <span>Feb 15, 2022</span>
                                            </div>
                                            <div class="lecture-room">
                                                <span class="material-icons">school</span>
                                                <span>Room: ji8rnj</span>
                                            </div>
                                        </div>
                                        <div class="lecture--detail-btn">
                                            <a href="">Lecture detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="sub-content">
                            <div class="sub-content--standings">
                                <div class="stadings--header">
                                    <span>Standings</span>
                                </div>
                                <div class="standings--content">
                                    <table class="standings--table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>GD</th>
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% standings.standings[0].forEach( team => { %> 
                                                <tr>
                                                    <td>
                                                        <div class="standings--rank">
                                                            <span><%= team.rank %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--team">
                                                            <img src="<%= team.team.logo %>" onerror="this.src='/images/default.png'">
                                                            <span><%= team.team.name %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--played">
                                                            <span><%= team.all.played %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--gd">
                                                            <span><%= team.goalsDiff %></span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="standings--point">
                                                            <span><%= team.points %></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }); %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>