<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/logo.png">
    <title>Line up suggestion</title>
</head>
<body>
    <div class="app">
        <div class="container-fluid">
            <div class="content">
                <!-- <div class="loader-wrapper">
                    <span class="loader">
                        <span class="loader-inner"></span>
                    </span>
                </div> -->
                <div class="row g-0">
                    <div class="d-none d-md-block col-md-2">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png" alt="logo">
                                <p>MANCHESTER UNITED</p>
                            </div>
                            <div class="main-menu">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="/" class="menu-link">
                                            <span class="material-icons">space_dashboard</span>
                                            <p>Dashboard</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/players" class="menu-link">
                                            <span class="material-icons">poll</span>
                                            <p>Players</p>
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a href="/lineup" class="menu-link menu-link--active">
                                            <span class="material-icons">event</span>
                                            <p>Line up</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/lectures" class="menu-link">
                                            <span class="material-icons">text_snippet</span>
                                            <p>Lectures</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/announcements" class="menu-link">
                                            <span class="material-icons">notifications</span>
                                            <p>Announcements</p>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <span class="material-icons">account_circle</span>
                                            <p>Personal</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sponsors">
                                <div class="sponsors__title">
                                    <p>Sponsors</p>
                                    <div class="title-sub"></div>
                                </div>
                                <ul class="sponsor-list">
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_adidas.png" alt="" height="45px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_teamviewer.png" alt="" height="35px">
                                    </li>
                                    <li class="sponsor-item">
                                        <img src="/images/sponsor_kohler.png" alt="" height="20px">
                                    </li>
                                </ul>
                                <div class="sponsors__divider"></div>
                            </div>
                            <div class="sub-menu">
                                <ul class="sub-menu-list">
                                    <li class="sub-menu-item">
                                        <a href="/auth" class="sub-menu-link">
                                            <span class="material-icons">logout</span>
                                            <p>Logout</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-7">
                        <div class="main-content">
                            <div class="lineup-suggestion--main">
                                <div class="lineup-suggestion--title">
                                    <span>Line up suggestion</span>
                                </div>
                                <div class="lineup-suggestion--multichoice">
                                    <div id="squad_4231" class="suggestion-multichoice--item squad-choice--active">
                                        <span>4231</span>
                                    </div>
                                    <div id="squad_4141" class="suggestion-multichoice--item">
                                        <span>4141</span>
                                    </div>
                                    <div id="squad_4222" class="suggestion-multichoice--item">
                                        <span>4222</span>
                                    </div>
                                    <div id="squad_4132" class="suggestion-multichoice--item">
                                        <span>4132</span>
                                    </div>
                                    <div id="squad_5122" class="suggestion-multichoice--item">
                                        <span>5122</span>
                                    </div>
                                </div>
                                <div class="lineup-suggestion--squad">
                                    <div class="calculate-loading">
                                        <img src="/images/preloader.gif" alt="">
                                    </div>
                                    <div class="squad-row">
                                        <div id="squad-position--ls" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.ST[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.ST[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--st" class="squad-position">
                                            <img src="<%= lineup.ST[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.ST[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--rs" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.ST[1].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.ST[1].player_name %></span>
                                        </div>
                                    </div>
                                    <div class="squad-row">
                                        <div id="squad-position--lm" class="squad-position">
                                            <img src="<%= lineup.LM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.LM[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--lam" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.CAM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CAM[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--cam" class="squad-position">
                                            <img src="<%= lineup.CAM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CAM[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--ram" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.CAM[1].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CAM[1].player_name %></span>
                                        </div>
                                        <div id="squad-position--rm" class="squad-position">
                                            <img src="<%= lineup.RM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.RM[0].player_name %></span>
                                        </div>
                                    </div>
                                    <div class="squad-row">
                                        <div id="squad-position--cm" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.CM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CM[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--lcm" class="squad-position">
                                            <img src="<%= lineup.CM[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CM[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--rcm" class="squad-position">
                                            <img src="<%= lineup.CM[1].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CM[1].player_name %></span>
                                        </div>
                                    </div>
                                    <div class="squad-row">
                                        <div id="squad-position--lb" class="squad-position">
                                            <img src="<%= lineup.LB[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.LB[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--lcb" class="squad-position">
                                            <img src="<%= lineup.CB[1].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CB[1].player_name %></span>
                                        </div>
                                        <div id="squad-position--cb" class="squad-position squad-position--disabled">
                                            <img src="<%= lineup.CB[2].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CB[2].player_name %></span>
                                        </div>
                                        <div id="squad-position--rcb" class="squad-position">
                                            <img src="<%= lineup.CB[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.CB[0].player_name %></span>
                                        </div>
                                        <div id="squad-position--rb" class="squad-position">
                                            <img src="<%= lineup.RB[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.RB[0].player_name %></span>
                                        </div>
                                    </div>
                                    <div class="squad-row">
                                        <div id="squad-position--gk" class="squad-position">
                                            <img src="<%= lineup.GK[0].avatar %>" onerror="this.src='/images/avatar_test.jpg';" alt="">
                                            <span><%= lineup.GK[0].player_name %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="sub-content">
                            <div class="lineup-suggestion--sub">
                                <div class="suggestion-sub--title">
                                    <span>Subtitutions</span>
                                </div>
                                <div class="suggestion-sub--list">
                                    <!-- <div class="suggestion-sub--item">
                                        <div class="sub-item--label sub-item--label-goalkeeper"></div>
                                        <div class="sub-item--postion">
                                            <span>GK</span>
                                        </div>
                                        <div class="sub-item--number">
                                            <span>26</span>
                                        </div>
                                        <div class="sub-item--name">
                                            <span>Dean Hederson</span>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------- -->
    <!-- Boostrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>